<h6>Robot facing:</h6>
  		<label class="radio-inline">
          <input type="radio" name="radioGroup" id="north" ng-model='robotCommand.angle' value="NORTH"> North
        </label>
        <label class="radio-inline">
          <input type="radio" name="radioGroup" id="east" ng-model='robotCommand.angle' value="EAST"> East
        </label>
        <label class="radio-inline">
          <input type="radio" name="radioGroup" id="south" ng-model='robotCommand.angle' value="SOUTH"> South
        </label>
         <label class="radio-inline">
          <input type="radio" name="radioGroup" id="south" ng-model='robotCommand.angle' value="WEST"> West
        </label>